# Ignoring the folder with all training dataset pictures
model_training/images/

model_training/heroku_deployment_test/weights/
model_training/oldresults/
model_training/heroku_deployment_test/


# Ignoring specific files folders
backend/backend/__pycache__/
model_training/saved_models/model.pth
backend/identify_app/__pycache__
backend/db.sqlite3

#ignoring identicons and plant images - might be included later | stored in Amazon S3
backend/media/

