# Ignoring the folder with all training dataset pictures
model_training/images/

model_training/heroku_deployment_test/weights/
model_training/oldresults/
model_training/heroku_deployment_test/


# Ignoring specific tar files

#ignoring identicons - might be included later | stored in Amazon S3
backend/media/profile_pictures/