asgiref==3.7.2
asttokens
colorama
comm
debugpy
decorator
Django==5.0.3
exceptiongroup
executing
filelock==3.13.1
fsspec==2024.2.0
importlib_metadata
ipykernel
ipython
ipywidgets
jedi
Jinja2==3.1.3
jupyter_client
jupyter_core
jupyterlab_widgets
MarkupSafe==2.1.5
matplotlib-inline
mpmath==1.3.0
nest_asyncio
networkx==3.2.1
numpy==1.26.4
packaging
parso
pickleshare
pillow==10.2.0
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
python-dateutil
pywin32==306
pyzmq
setuptools==69.1.1
six
sqlparse==0.4.4
stack-data
sympy==1.12
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado
tqdm==4.66.2
traitlets
typing_extensions
tzdata==2024.1
wcwidth
wheel==0.42.0
widgetsnbextension
zipp
